# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List of popular languages
* Tools for Data Science
* Most popular libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Matplolib
- Pyplot

| Data science Tools | 
| -------------| 
|My SQL | 
| ML Flow | 
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
2+5

7

In [14]:
5/9

0.5555555555555556

In [16]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
#### Joanna